#float
{
    display: float left;
    vertical-align: top;
}

#kuina
{
    padding: 0px 0px 0px 7px;
    font-size: 13px;
    color: initial;
    display: flex;
}

#batu
{
    margin: 0px 0px 0px 201px;
    float: right;
    cursor: pointer;
}

#dialog
{
    width: 400px;
    height: 170px;
    margin: auto;
    background-color: white;
    display: none;
    text-align: center;
    border: 1px solid #40c4ff;
    z-index: 10000;
    position: fixed;
}

#keikoku_mark
{
    width: 40px;
    height: 40px;
    vertical-align:middle;
    padding: 8px 8px 8px 0px;
}

#main_text
{
    color: initial;
    margin: 15px;
    font-family: initial;
}

#inline
{
    margin: 23px;
    display: flex;
}

#background button
{
    padding: 2px 30px;
    margin: 0px 2px;
    display: inline-block;
    text-decoration: none;
    color: black;
    border: solid 2px #1e88e5;
    outline: dotted 1px black;
    outline-offset: -3px;
    cursor: pointer;
    border-radius: initial;
    background-color: initial;
    font-weight: initial;
}

#background button:hover
{
    background-color: #e3f2fd;
}

#background
{
    padding: 5px 0px 9px 0px;
    background-color: #eceff1;
}

#hai
{
    font-size: 11px;
    padding: 2px 18px;
    border: 2px;
}